Однофакторный дисперсионный анализ

In [11]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [21]:
y1=np.array([70,50,65,60,75,67,74])
y2=np.array([80,74,90,70,75,65,85])
y3=np.array([148,142,140,150,160,170,155])

In [22]:
k=3
n=len(y1)+len(y2)+len(y3)
n

21

In [23]:
y_mean_1 = np.mean(y1)
y_mean_1

65.85714285714286

In [24]:
y_mean_2 = np.mean(y2)
y_mean_2

77.0

In [25]:
y_mean_3 = np.mean(y3)
y_mean_3

152.14285714285714

In [26]:
total = np.array([y1, y2, y3])
total

array([[ 70,  50,  65,  60,  75,  67,  74],
       [ 80,  74,  90,  70,  75,  65,  85],
       [148, 142, 140, 150, 160, 170, 155]])

In [27]:
y_mean_total = np.mean(total)
y_mean_total

98.33333333333333

In [28]:
np.sum((total-y_mean_total)**2) # сумма квадратов отклонений наблюдений от общего среднего

32400.66666666667

In [29]:
S_f = np.sum(((y_mean_1-y_mean_total)**2)*len(y1)+((y_mean_2-y_mean_total)**2)*len(y2)+((y_mean_3-y_mean_total)**2)*len(y3)) # сумма квадратов отклонений средних групповых значаний от общего среднего
S_f

30836.952380952374

In [30]:
S_ost = np.sum((y1-y_mean_1)**2+(y2-y_mean_2)**2+(y3-y_mean_3)**2) # остаточная сумма квадратов отклонений
S_ost

1563.7142857142856

In [31]:
S_f+S_ost #проверка, должно совпадастьь с суммой квадратов отклонений

32400.66666666666

In [32]:
D_f = S_f/(k-1) #факторная дисперсия
D_f

15418.476190476187

In [33]:
D_ost = S_ost/(n-k) #остаточная дисперсия
D_ost

86.87301587301586

In [34]:
F_n= D_f/D_ost #наблюдаемый критерий Фишера
F_n

177.48291613374747

In [37]:
f = stats.f_oneway(y1, y2, y3) #табличный критерий Фишера
f

F_onewayResult(statistic=177.48291613374704, pvalue=1.4204669001071745e-12)

Т.к. наблюдаемый выше табличного (на пересении k-1 и n-k (2, 8) лежит число 3,55), отличия статистически значимы

pvalue < 5% (т.к. значаение в -12 степени), есл исразу по формуле

In [38]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import pandas as pd

In [39]:
df = pd.DataFrame({'score' :[ 70,  50,  65,  60,  75,  67,  74,
                              80,  74,  90,  70,  75,  65,  85,
                              148, 142, 140, 150, 160, 170, 155],
                    'group': np.repeat(['accountant', 'lawyer', 'programmer'], repeats=7)})
tukey = pairwise_tukeyhsd(endog=df['score'],
                          groups=df['group'],
                          alpha=0.05)
print(tukey)

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
============================================================
  group1     group2   meandiff p-adj   lower   upper  reject
------------------------------------------------------------
accountant     lawyer  11.1429 0.0918 -1.5722 23.8579  False
accountant programmer  86.2857    0.0 73.5707 99.0007   True
    lawyer programmer  75.1429    0.0 62.4278 87.8579   True
------------------------------------------------------------

Двухфакторный дисперсионный анализ

In [1]:
y111=57
y112=59
y11=(y111+y112)/2
y11

58.0

In [2]:
y121=56
y122=58
y12=(y121+y122)/2
y12

57.0

In [3]:
y211=32
y212=34
y21=(y211+y212)/2
y21

33.0

In [4]:
y221=71
y222=71
y22=(y221+y222)/2
y22

71.0

In [5]:
YcpA1 = (y11+y12)/2
YcpA1

57.5

In [6]:
YcpA2 = (y21+y22)/2
YcpA2

52.0

In [7]:
YcpB1 = (y11+y21)/2
YcpB1

45.5

In [8]:
YcpB2 = (y12+y22)/2
YcpB2

64.0

In [12]:
Ycp = np.mean(YcpA1+YcpA2+YcpB1+YcpB2)/4
Ycp

54.75

In [46]:
a=2 #количество уровней факторов А
b=2 #количество уровней факторов B
n=k=2 #количество репликаций, т.е. сколько раз проводились измерения

In [34]:
SSt = y111**2+y112**2+y121**2+y122**2+y211**2+y212**2+y221**2+y222**2-a*b*n*(Ycp**2)
SSt

1511.5

In [35]:
SSA = a*n*(YcpA1**2+YcpA2**2)-a*b*n*(Ycp**2)
SSA

60.5

In [37]:
SSB = a*n*(YcpB1**2+YcpB2**2)-a*b*n*(Ycp**2)
SSB

684.5

In [43]:
SSAB = n*(y11**2+y12**2+y21**2+y22**2)-a*b*n*(Ycp**2)-SSA-SSB
SSAB

760.5

In [44]:
SSE = SSt- SSA - SSB - SSAB
SSE

6.0

In [49]:
dfA = a-1 #степени свободы
dfB = b-1 #степени свободы
dfAB = dfA * dfB
dfE = a*b*(n-1)
print(dfA, dfB ,dfAB,dfE)

1 1 1 4

In [50]:
MSA = SSA/dfA
MSB = SSB/dfB
MSAB = SSAB/dfAB
MSE = SSE/dfE
print(MSA,MSB, MSAB, MSE)

60.5 684.5 760.5 1.5

Расчитываем критерий Фишера

In [51]:
FA = MSA/MSE
FB = MSB/MSE
FAB = MSAB/MSE
print(FA , FB, FAB)

40.333333333333336 456.3333333333333 507.0

Табличное значение критерия Фишера для 1 (dfA, dfB ,dfAB) и 4 (dfE) будет равно 7,71


так как все расчетные значения больше 7,71, то принимаем альтернативную гипотезу. То есть обнаружен эффект взаимодействия. Влияет и фактор А и фактор В

In [57]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd

In [59]:
fA = np.array(['low','low','low','low','high','high','high','high']) #для построения таблицы показываем внизу или навереху
fA

array(['low', 'low', 'low', 'low', 'high', 'high', 'high', 'high'],
      dtype='<U4')

In [60]:
fB = np.array(['low','low','high','high','low','low','high','high']) #для построения таблицы показываем внизу или навереху
fB

array(['low', 'low', 'high', 'high', 'low', 'low', 'high', 'high'],
      dtype='<U4')

In [55]:
values = np.array([57,59,56,58,32,34,71,71])
values

array([57, 59, 56, 58, 32, 34, 71, 71])

In [58]:
df = pd.DataFrame({'fA':fA, 'fB':fB, 'values':values})
df

     fA    fB  values
0   low   low      57
1   low   low      59
2   low  high      56
3   low  high      58
4  high   low      32
5  high   low      34
6  high  high      71
7  high  high      71

строим модель с помощью метода ols

In [61]:
lm_model = ols('values ~ C(fA) * C(fB)', data = df).fit()

строим ANOVA таблицу

In [62]:
table = sm.stats.anova_lm(lm_model, typ=2)
table

             sum_sq   df           F    PR(>F)
C(fA)          60.5  1.0   40.333333  0.003150
C(fB)         684.5  1.0  456.333333  0.000028
C(fA):C(fB)   760.5  1.0  507.000000  0.000023
Residual        6.0  4.0         NaN       NaN

Таким образом все pvalue (последний столбец) меньше 5%, значит принимаем альтернативную гипотезу: факторы воздействуют